@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    --gradient-soft-violet: hsl(273, 75%, 66%);
    --gradient-soft-blue: hsl(240, 73%, 65%);
    --dividers-light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100vh;
}

.question-box {
    margin: 50px;
    padding: 50px;
    background-color: white;
    background-image: url(images/bg-pattern-desktop.svg);
    display: flex;
}
.questions{
    border: 1px solid red;

}
.question-title {
    display: flex;

}
button{
    background-color: none;
    border: none;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--text-very-dark-grayish-blue);
    /* background-color: red; */
}

/* hide */
.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.show-text .arrow-icon {
    display: inline;
}

/* .show-text .arrow-icon {
    transform: rotate(45deg);
} */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}